# Node modules in client folder
client/node_modules/

# Node modules in server folder
server/node_modules/

# Environment variables
.env

# Build files
/build
/dist

client/dist

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db